{% extends 'base.html.twig' %}

{% block title %}New Panel{% endblock %}

{% block body %}
    <h1>Create new Panel</h1>

    {{ include('panel/_form.html.twig') }}

    <a href="{{ path('panel_index') }}">back to list</a>
{% endblock %}
