.nom{
    font-size: 20px;
}

body{
    background: #2d3744;
}


.example-wrapper code {
    background: #F5F5F5;
    padding: 2px 6px;

}

.test{
    box-sizing: content-box;
    width: auto;
    height: 580px;
    background-color: #2d3744;
}

.container{
    padding: 50px;
}

#sidebar{
    background-color: #2d3744;
}

.titre{
    padding-top: 4%;
    text-align: center;

}


.produitlibelle{
    text-decoration: underline;
}

